@model HRFuture.Models.Personal_Info

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
</style>
<ul>
    @*@foreach (var item in ViewBag.ids)
    {
        @item.type
        @item.maxid
    }*@
</ul>
<div class="row intro">
    <div class="col-md-4 form-group  col-md-offset-1  type blue-gradient">
        <i class="fa fa-male icon-male" aria-hidden="true"></i>
        <h1>يافع</h1> @*YM : Young Male*@
        <span class="idperson">@ViewBag.idYM</span>
        <span class="typeperson">YM</span>
    </div>

    <div class="col-md-4 form-group col-md-offset-2 type purple-gradient">
        <i class="fa fa-female icon-female" aria-hidden="true"></i> 
        <h1>يافعة</h1>@*YF : Young Femal*@
        <span class="idperson">@ViewBag.idYF</span>
        <span class="typeperson">YF</span>
    </div>


    <div class="col-md-4 col-md-offset-1  form-group type  blue-gradient">
        <i class="fa fa-male icon-male" aria-hidden="true"></i>
        <h1>مستقبل</h1>@*FM : Future Male*@
        <span class="idperson">@ViewBag.idFM</span>
        <span class="typeperson">FM</span>
    </div>
    <div class="col-md-4 form-group col-md-offset-2 type purple-gradient">
        <i class="fa fa-female icon-female" aria-hidden="true"></i>
        <h1>مستقبلة</h1> @*FF : Female Femal*@
        <span class="idperson">@ViewBag.idFF</span>
        <span class="typeperson">FF</span>
    </div>
</div>

<div class="cont">
    <section id="one">
        @Html.Partial("~/Views/Personal_Info/_CreatePersonalInfO.cshtml")
    </section>
    <section id="two">
       
    </section>
    <section id="three">
        @*@Html.Partial("~/Views/Personal_Info/_CreatePersonalInfO.cshtml")*@
    </section>
    <section id="four">
        @*@Html.Partial("~/Views/Personal_Info/_CreatePersonalInfO.cshtml")*@
    </section>


    <!-- Scrollspy -->
    <div class="speedmove" style=" ">
        @*dotted-scrollspy hidden-sm-down*@
        <ul class="nav smooth-scroll">
            <li class="nav-item"><a class="nav-link link" href="#one" data-toggle="tooltip" data-placement="left" title="المعلومات الأساسية"><i class="fa fa-address-card-o"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#two"><i class="fa fa-handshake-o"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#three"><i class="fa fa-book"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#four"><i class="fa fa-child"></i></a></li>

        </ul>
    </div>

</div>



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
      
        $("document").ready(function () {
           

        });
        $(".type").click(function () {
            
            $(".intro").fadeOut(1000);
            $(".cont").fadeIn(1000);

            var id = $(this).find(".idperson").text();
            var type = $(this).find(".typeperson").text();

            if (type == "YM" || type == "FM")
                $("#image").attr("src", '/images/defaultimg/imagemale.jpeg');
            else
                $("#image").attr("src", '/images/defaultimg/imagefemale.jpg');

            
            $("input[name='id']").val(id);
            $("input[name='id']").text(id);
            $("input[name='type']").val(type);
            $("input[name='type']").text(type);
           

        });
        
        $(".page-item").click(function () {
            $(".pagination").find(".active").removeClass("active");
            $(this).toggleClass("active");

            // hide visible form
            $(".forms").find(".form-active").css("display", "none");
            // get index of paging links
            var ind = $(this).index();

            // visible form that matched with paging link index

            $(".form-active").eq(ind).fadeIn();
            
            
        });

      
       
    </script>
   
}
