@model HRFuture.Models.Personal_Info

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personal_Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mothername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mothername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bronum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bronum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.glass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.glass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smoke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smoke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smoketype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smoketype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curraddres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curraddres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netifuse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netifuse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netusing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netusing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knownfriend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knownfriend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knowninitiative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knowninitiative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knowngheraspage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knowngheraspage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizejacket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizejacket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizeshirt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizeshirt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizepants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizepants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizevest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizevest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizesport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizesport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizeshoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizeshoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personalphoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personalphoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idphoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idphoto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
